<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<div class="container">
<div class="row">
<div class="col-md-12">
<mat-card>
<div>
<h1>Оберіть тестове завдання та приступіть до виконання</h1>
<ul>
<li><a routerLink="/tests-lec-f" ><b>ТЕСТОВЕ ЗАВДАННЯ 1.</b>До лекції "Сутність економіко-математичного моделювання"</a></li>
<li><a routerLink="/tests-lec-s" ><b>ТЕСТОВЕ ЗАВДАННЯ 2.</b>До лекції "Динамічні оптимізаційнi моделі управління запасами.Модель з
урахуванням витрат на виконання замовлення"</a></li>
<li><a routerLink="/tests-lec-th" ><b>ТЕСТОВЕ ЗАВДАННЯ 3.</b>До лекції "Модель з увігнутою функцією витрат"</a></li>
<li><a routerLink="/tests-lec-fourth" ><b>ТЕСТОВЕ ЗАВДАННЯ 4.</b>До лекції "Моделі без урахування витрат на виконання замовлення"</a></li>

</ul>

</div>
</mat-card>
</div>
</div>
</div>
</div>

