<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<div class="container">
<div class="row">
<div class="col-md-12">
<mat-card>
<h3>Як зрозуміти таблицю:</h3>
<p>1. В колонці "Позначка часу" вказано дату надсилання роботи на перевірку</p>
<p>2. В колонці "Результат" зазначено скільки набрав студент балів із всих можливих балів</p>
<p>3. В колонці "ФІО" вказано ФІО студента.</p>

<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSvizsxQPG-prJHz9Eu68EaCgeQSz8kqCfOwJq3tQsLYAYVSJN1DmuO9xcZEHOQ2Dm8mCSoKGt-cBVY/pubhtml?gid=745554710&amp;single=true&amp;widget=true&amp;headers=false"></iframe>



</mat-card>
</div>
</div>
</div>
</div>
