<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<div class="container">
<div class="row">
<div class="col-md-12">
<mat-card>
<object>
<p>
    <a href="assets/pdf/l_2.pdf" class="characteristicOfBut" target="_blank"><mat-icon>save_alt</mat-icon><span class="sFont">Переглянути в PDF та</span>
   <pre>
   <span class="sColor">ЗАВАНТАЖИТИ</span></pre></a></p>


</object>
<div>
<h1>ЛЕКЦІЯ 2.Динамічні оптимізаційна моделі управління запасами.Модель з урахуванням витрат на виконання замовлення</h1>
<br>

<p class="indeNtion">Аналіз моделей управління запасами досі стосувався ситуацій, коли попит відомий заздалегідь і постійний протягом усього періоду планування. Ослабимо тепер це припущення і розглянемо моделі, де попит детермінований, але змінюється з часом. Це можливо, наприклад, якщо замовлення зроблені заздалегідь, або підписані контракти, що визначають поставки на кілька наступних місяців, або попит розраховано відповідно до відомої виробничої програми. </p>
<p class="indeNtion">У цьому випадку горизонт планування визначається як період, в якому попит відомий. Розглядається тільки кінцевий горизонт планування, проте це не є серйозним обмеженням, так як попит у віддаленому майбутньому зазвичай не робить істотного впливу на рішення, що приймаються в сьогоденні. Крім того, у багатьох випадках запаси схильні до зносу, і тому не має сенсу припускати, що продукція буде зберігатися в запасі нескінченно і вибирати відрізок планування надмірно великим.</p>
<p class="indeNtion">Як і раніше, можна вважати, що є деяка система постачання (склад, оптова база та інше), діяльність якої зводиться до забезпечення попиту кінцевих споживачів на деякий продукт, для чого вона здійснює замовлення виробнику даного продукту.</p>
<p class="indeNtion">Розглянемо моделі, в яких потрібно спланувати послідовність замовлень на T суміжних інтервалів часу. Попит задається як послідовність величин сумарного споживання в цих періодах.</p>
<p class="indeNtion">Передбачається, що не допускаються заборгованості та відмови (відсутній дефіцит). Замовлення виконується повністю і часом між замовленням і його надходженням можна знехтувати.</p>
<span>Попит протягом етапу</span><img src="assets/img/18.png"><span>відомий і позначається </span><img src="assets/img/19.png">
<span>При розміщенні замовлення в y одиниць у період t нараховуються фіксовані витрати замовлення </span>
<img src="assets/img/20.png"><span>і змінні (вартість замовлення або виробництва) </span><img src="assets/img/21.png">
<span>Нехай</span><img src="assets/img/22.png"><span>Тоді витрати замовлення в періоді t дорівнюють</span><img src="assets/img/23.png">
<p class="indeNtion">Початковий запас і запас у кінці періоду Т передбачається відомим.</p>
<span>Витрати зберігання одиниці товару на етапі </span><img src="assets/img/24.png">
<span>Замовлення і попит визначаються на початку етапу. Запаси інспектуються наприкінці етапу. Тому витрати на зберігання на етапі t передбачаються пропорційними обсягу запасу, що переходить з етапу t в етап </span>
<img src="assets/img/25.png"><span>Нехай</span><img src="assets/img/26.png"><span>кількість, що замовляється у період </span>
<img src="assets/img/27.png"><span>  рівень запасів у кінці періоду t. З використанням цих змінних завдання визначення обсягів замовлень, таких, щоб витрати замовлення і зберігання були мінімальні, може бути сформульована таким чином:</span>
<div class="imgCenter">
<img src="assets/img/28.png">
</div>
<p class="indeNtion">Обмеження (3.2) називають обмеженнями балансу запасу. Оскільки </p>
<img src="assets/img/29.png"><span>можуть бути виключені з формулювання і планом завдання можна вважати вектор </span>
<img src="assets/img/30.png">
<span>Функції</span><img src="assets/img/31.png"><span>слід враховувати, якщо витрати змінюються з часом або існують розриви цін.</span>
<p class="indeNtion">У загальному випадку (3.1) - (3.3) являє собою задачу нелінійного програмування. Якщо враховуються фіксовані витрати замовлення </p>
<img src="assets/img/32.png"><span>цільова функція завдання розривна. Крім того, якщо змінні </span>
<img src="assets/img/33.png"><span>можуть приймати тільки цілі значення, то отримаємо задачу цілочисельного програмування.</span>
<p class="indeNtion">Якщо цільова функція отриманого завдання адитивна, то для її вирішення може бути успішно застосований апарат динамічного програмування [4], в основі якого лежить твердження, що отримало назву принципу оптимальності Беллмана:</p>
<p class="indeNtion">Для адитивної цільової функції рішення на всі інтервали, що залишилися, повинні становити оптимальну поведінку відносно стану, отриманого в результаті попереднього рішення, незалежно від раніше прийнятих рішень і початкового стану.</p>
<p class="indeNtion">Нехай кожен інтервал часу t відповідає одному кроку. Розглянемо процедуру прямої прогонки, послідовно мінімізуючи витрати за 1, 2, ... T інтервали.</p>
<p class="indeNtion">На кроці t стан системи визначається як обсяг запасу на кінець етапу, що задається співвідношенням (3.2), причому</p>
<div class="imgCenter">
<img src="assets/img/34.png">
</div>
<p class="indeNtion">Це нерівність означає, що в граничному випадку (при відсутності в подальшому замовлень) запас </p>
<img src="assets/img/35.png"><span>може задовольнити попит на всіх наступних етапах.</span>
<span>В якості початкової умови використовуємо вимогу про збереження після завершення управління заданої кількості товару </span>
<img src="assets/img/36.png">
<span>Нехай</span><img src="assets/img/37.png"><span>загальні витрати на етапах 1, 2, ..., t при заданій величині</span>
<img src="assets/img/38.png"><span>на кінець етапу t і величиною замовлення </span>
<img src="assets/img/39.png"><span>мінімальні загальні витрати на етапах 1,2, ..., t при заданій величині запасу</span>
<img src="assets/img/40.png"><span>в кінці періоду t. На кожному етапі замовлення розміщуються в припущенні, що попередні замовлення розміщені оптимально. Тоді</span>
<div class="imgCenter">
<img src="assets/img/41.png">
</div>
<span>пряме рекурентне співвідношення записується у вигляді</span>
<div class="imgCenter">
<img src="assets/img/42.png">
</div>
<p class="indeNtion">Система рекурентних співвідношень (3.4) дозволяє знайти послідовність функцій стану </p>
<img src="assets/img/43.png"><span>і умовних оптимальних управлінь </span>
<img src="assets/img/44.png"><span>На кроці Т за допомогою початкової умови можна визначити</span>
<img src="assets/img/45.png"><span>Решта значень оптимальних управлінь визначаються послідовно з використанням формули (3.2).</span>
<p class="indeNtion">Припущення про нульовий час доставки може бути ослаблене, якщо припустити, що час поставки L визначено і відомо заздалегідь. В цьому випадку, якщо замовлення потрібно в період t, то замовлення робиться в період t-L.</p>
<p class="indeNtion"><b>Приклад 3.1.</b> Вирішимо задачу при наступних даних.</p>
<div class="positText">
<span>Таблиця 3.1</span>
</div>
<div class="imgCenter">
<img src="assets/img/46.png">
</div>
<span>Вихідний запас </span><img src="assets/img/47.png"><span>в кінці періоду планування </span>
<img src="assets/img/48.png"><span>Нехай витрати на придбання продукції становлять 10 за кожну одиницю для перших трьох одиниць і 20 для кожної додатковою одиниці, тобто</span>
<div class="imgCenter">
<img src="assets/img/49.png">
</div>
<p class="indeNtion">Припускаємо, що замовляється ціле число одиниць товару. Наведемо результати покрокових обчислень для прямого алгоритму.</p>
<span>Крок 1. Так як </span><img src="assets/img/50.png">
<div class="imgCenter">
<img src="assets/img/51.png">
</div>
<p class="indeNtion">Оскільки</p><img src="assets/img/52.png"><span>може приймати тільки цілі значення</span>
<img src="assets/img/53.png">
<div class="positText">
<span>Таблиця 3.2</span>
</div>
<div class="imgCenter">
<img src="assets/img/54.png">
</div>
<img src="assets/img/55.png"><img src="assets/img/56.png">
<p class="indeNtion">Для різних значень </p><img src="assets/img/57.png"><span>обчислюємо значення функції, яку мінімізуємо. Наприклад, </span>
<img src="assets/img/58.png"><img src="assets/img/59.png">
<p class="indeNtion">Результати запишемо в таблицю і знайдемо мінімальний елемент в кожному рядку.</p>
<div class="positText">
<span>Таблиця 3.3</span>
</div>
<div class="imgCenter">
<img src="assets/img/60.png">
</div>
<img src="assets/img/61.png">
<div class="imgCenter">
<img src="assets/img/62.png">
</div>
<span>Обчислимо витрати для різних y3. Наприклад,</span>
<div class="imgCenter">
<img src="assets/img/63.png">
</div>
<div class="positText">
<span>Таблиця 3.4</span>
</div>
<div class="imgCenter">
<img src="assets/img/64.png">
</div>
<p class="indeNtion">Звідси отримуємо, що загальні мінімальні витрати - 99, </p>
<img src="assets/img/65.png"><img src="assets/img/66.png">
<p class="indeNtion">Розглянемо процедуру зворотного прогону для вирішення поставленого завдання. В якості опції стану керованої системи візьмемо мінімальний обсяг витрат, що виникають за періоди t, ..., T за умови, що до початку періоду t (до розміщення замовлення) є запас </p>
<img src="assets/img/67.png">
<img src="assets/img/68.png"><span>загальні витрати на етапах t, ..., T при заданій величині</span>
<img src="assets/img/69.png"><span>на початок етапу t і величиною замовлення </span>
<img src="assets/img/70.png"><span>мінімальні загальні витрати на етапах t, ..., T при заданій величині </span>
<img src="assets/img/68.png"><span>На кожному етапі замовлення розміщуються в припущенні, що замовлення на наступних етапах розміщені оптимально. Покладемо </span>
<img src="assets/img/71.png">
<div class="imgCenter">
<img src="assets/img/72.png">
</div>
<span>основне рекурентне співвідношення записується у вигляді</span>
<div class="imgCenter">
<img src="assets/img/73.png">
</div>


</div>





</mat-card>
</div>
</div>
</div>
</div>
