<!--<form >
<input type="file" ngf-select="fileSelected($files);" />
<input value="Upload!" ng-click="submit();"/>
</form>-->

<div style="cursor: pointer; color: brown" *ngIf="visibility" (click)="toggle()"><ins><h4>Додаткова інформація<mat-icon>add_circle_outline</mat-icon></h4></ins></div>
<div style="cursor: pointer; color: brown" *ngIf="!visibility" class="outSide" (click)="toggle()" ><ins>Сховати</ins></div>

<div [ngClass]="{invisible: visibility}" class="gradCol">
  <p class="indeNtion">На відміну від статичних незалежних від часу моделей динамічні моделі описують економічні або управлінські процеси або системи в русі, тобто в залежності від тимчасових періодів, що були або будуть. Динамічні моделі дозволяють прогнозувати розвиток процесу на майбутнє, щоб вже зараз мати уявлення про його результати і відповідним чином реагувати на певний наслідок цього розвитку.</p>
  <p class="indeNtion">Динамічне моделювання - багатокроковий процес, кожен крок відповідає поведінці економічної системи в певний часовий період. Кожен поточний крок виходить за результатами попереднього кроку, за певними правилами визначається поточний результат і формуються дані для наступного кроку. Таким чином, динамічна модель в прискореному режимі дозволяє вивчати розвиток складної економічної системи, наприклад, підприємства, протягом певного періоду планування в умовах зміни ресурсного забезпечення (сировини, кадрів, фінансів, техніки), і представити отримані результати в відповідному плані розвитку підприємства на заданий період.</p>
  <p class="indeNtion">Для вирішення динамічних задач оптимізації в математичному програмуванні сформувався відповідний  клас моделей під назвою динамічне програмування, його засновником став відомий американський математик Р. Беллман. Ним запропоновано спеціальний метод рішення задачі цього класу на основі принципу оптимальності, згідно з яким оптимальне рішення задачі знаходиться шляхом її розбиття на n - етапів, кожен з яких представляє підзадачу щодо однієї змінної.</p>
  <p class="indeNtion">Обчислення виконується таким чином, що оптимальний результат однієї підзадачі є початкові дані для наступної підзадачі з урахуванням рівнянь і обмежень зв'язку між ними, результат останньої з них є результатом всього завдання.</p>
  <p class="indeNtion">Далі розглянуто практичний приклад завдання, яка відноситься до динамічної моделі.</p>

</div>

