<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<mat-card>
<div class="container">
<div class="row">

  <div class="col-8"><h2>ПРАКТИЧНА РОБОТА 4.Лінійні моделі</h2>


</div>
  <div class="col-4">

  <div class="buttLookLec">
  <object>
  <p>
  <a href="assets/pdf/practice_4.pdf" class="characteristicOfBut" target="_blank"><mat-icon>save_alt</mat-icon><span class="sFont">Переглянути в PDF та</span>
<pre>
  <span class="sColor">ЗАВАНТАЖИТИ</span></pre></a></p>
  </object>
  </div>
  </div>

                     </div>
<div class="row">
<div class="col-12">


<p class="indeNtion">При вирішенні оптимізаційних задач за допомогою Пошук рішень (Solver) необхідно розрізняти лінійні і нелінійні моделі. Під лінійними розуміється модель, в яких зв'язок між обмеженнями на невідомих і цільових осередків описується лінійними функціями. Загальний вигляд лінійної функції: Y = AX1 + BX2 + ... + CXn, де A, B, C - константи, X1, X2, X3 - змінні, Y - результуюче значення.</p>
<p class="indeNtion">Лінійне програмування - найбільш розвинений розділ математичного програмування, обчислювальні засоби якого дозволяють знаходити глобальний оптимум лінійної задачі оптимізації. На щастя, більшість економічних та управлінських завдань добре описуються лінійними моделями - саме цією обставиною пояснюється успіх практичного використання лінійних моделей і методів алгебри для вирішення великих за розмірами задач планування і управління на рівні окремих організацій, підприємств і навіть галузей виробництва.</p>
<p class="indeNtion">Лінійні моделі використовують таку прекрасну властивість лінійних задач оптимізації, як лінійні рівняння або нерівність на невідомі і цільову функцію. Це означає, що область допустимих рішень - це опуклий багатокутник, одна з вершин якого і є оптимальне рішення.</p>
<p class="indeNtion">Саме цей ефективний математичний результат лежить в основі симплекс-методу - для пошуку оптимуму потрібно в певному порядку переглянути невелику кількість вершин, використовуючи простий і ефективний алгоритм послідовного поліпшення значення цільової функції.</p>
<p class="indeNtion">Потужні та ефективні засоби лінійного програмування певним чином використовуються і в цілочисельному програмуванні для вирішення більш складних завдань оптимізації. Якщо вираз для цільових осередків і для виразу обмеження є лінійними, то можна застосовувати швидкі і надійні методи пошуку рішення. Для використання саме лінійних методів слід встановити параметр Лінійна модель у вікні Параметри пошуку рішень.</p>
<p class="indeNtion">Далі розглянуто практичний приклад задачі оптимізації, яка відноситься до лінійної моделі.</p>
<p class="indeNtion"><b>Приклад. інвестиції</b></p>
<p class="indeNtion"><b>Постановка задачі:</b></p>
<p class="indeNtion">Інвестор, ризикуючи, планує найкращим чином визначити частини сум грошей ( «яйця») загальним обсягом S од., Які будуть вкладені в n підприємств ( «кошика») шляхом покупки акцій з метою отримання прибутку в певному наступному періоді. Умова оптимально означає, що існує два альтернативних критерію оптимізації:</p>
<ul>
                     <li>мінімізація ризику при фіксованому доході або</li>
                     <li>максимізація доходу при фіксованому ризику.</li>


</ul>
<p class="indeNtion">В інвестиційному менеджменті набір частин сум інвестування називається портфелем. Оптимальним портфелем є такий набір, який інвестор визнає для себе найкращим щодо доходу і ризику. Чим більший дохід, тим більший ризик. Наш інвестор хоче вкласти гроші в сумі 30000 од. в акції 6-ти підприємств, для кожного з яких відомі прибутковість акцій (%), термін дії, оцінка ризику.</p>
<p class="indeNtion">Максимальна величина інвестицій на одне підприємство не повинна бути більше 7500 од. У підприємства з рівнем ризику більше 3 потрібно вкласти не більше ніж 1/3 суми всіх грошей, а в підприємства з терміном більше, ніж 5 років - не менше 0,5 суми грошей. Інвестор повинен вибрати на основі фіксованих підприємствами ризиків оптимальний варіант - куди і скільки вкласти грошей, щоб отримати максимальний дохід (рис. 1.1).</p>
<p class="indeNtion"><b>Знайти план інвестування, при якому: </b></p>
<ul>
                     <li>Об_Доход = План * Прибутковість (%) → mах при обмеженнях:</li>
                     <li>План = 30000;</li>
                     <li>План_Підприємство <= 7500</li>
                     <li>План> = Мін_взнос Підприємства (ризик> = 3) <= 10000;</li>
                     <li>Підприємства (термін> 5)> = 15000.</li>


</ul>
<div class="imgCenter">
                     <img src="assets/img/163.png">
                     </div>
<div class="TextCenter">
<span>Рис.1.1. Оптимальний варіант інвестування коштів</span>
</div>
<p class="indeNtion"><b>Реалізація в Excel</b></p>
<p class="indeNtion">Створіть таблицю з формулами, які пов'язують план, обмеження і цільову функцію (Об_Доход) (рис. 1.2).</p>
<div class="imgCenter">
                     <img src="assets/img/164.png">
                     </div>
<div class="TextCenter">
<span>Рис. 1.2. Таблицю з формулами, які пов'язують план, обмеження і цільову функцію</span>
</div>
<p class="indeNtion">1. Стовпець Дохід заповніть формулами:</p>
<p>= План * Прибутковість.</p>
<p class="indeNtion">2. Стовпець Портфель заповніть формулами:</p>
<p>= План / Об_Доход.</p>
<p class="indeNtion">3. Під стовпцем Рівень ризику введіть формулу:</p>
<p>= СУММЕСЛИ (Ризик;> = 3; план).</p>
<p class="indeNtion">4. Під стовпцем Термін введіть формулу:</p>
<p>= СУММЕСЛИ (Термін;> 5; план).</p>
<p class="indeNtion">5. У цільову осередок Об_Доход введіть формулу:</p>
<p>= СУММ (Дохід).</p>
<p class="indeNtion">6. У осередок G10 введіть формулу для визначення процентного вмісту Об_доход:</p>
<p>= G9 / $ F $ 10.</p>
<p class="indeNtion">Запустіть програму Пошук рішень командою Данні / Аналіз / Пошук рішення (в Excel 2010). У полях Встановити цільову осередок, Змінюючи осередки, Обмеження введіть відповідні адреси осередків.</p>
<p class="indeNtion">Так як це лінійна модель, то не забудьте зафіксувати в вікні Параметри пошуку рішень перемикач на позицію Лінійна модель і позитивне значення (рис. 1.3).</p>
<div class="imgCenter">
                     <img src="assets/img/165.png">
                     </div>
<div class="TextCenter">
<span>Рис. 1.3. Лінійна модель</span>
</div>
<p class="indeNtion">Натисніть кнопку Виконати і у вікні Результати пошуку рішення виведіть звіт по стійкості. Виходить наступний результат (рис. 1.4).</p>
<div class="imgCenter">
                     <img src="assets/img/166.png">
                     </div>
<div class="TextCenter">
<span>Рис. 1.4. Результати пошуку рішення</span>
</div>
<p class="indeNtion"><b>Аналіз результатів:</b></p>
<p class="indeNtion">Оптимальний план інвестування (540; 180; 912,5; 825; 138; 840) забезпечить максимальний дохід в розмірі 3435,5 од., Що склало 11,5% суми інвестицій (непогано, якщо ідеальний 12,5%). Нормована вартість невідомих (План) вказує, як зміниться Об_Доход при примусовому збільшенні значення невідомих.</p>
<p class="indeNtion">Тіньова ціна 0,108 для величини інвестицій (30000) вказує на збільшення Об_Дохода майже на 11 копійок при збільшенні суми інвестування на 1 од. Тіньова ціна 0,017 для величини обмеження на суму ризикованих інвестицій (10000) вказує на збільшення Об_Дохода на цю величину при збільшенні обмеження на 1 од.</p>
<br>
<h4>Переглянути хід роботи ви можете на відео:</h4>
<div class="videoPractice">
<mat-video src="assets/video/v_3.mp4"></mat-video>
</div>
<br>
<h4>Виконавши практичне завдання , необхідно перейти по посіланню нижче та відправити на перевірку викладачеві файл з виконаною роботою: </h4>
</div>
<br>
<div class="buttLookLec">
  <object>
  <p>
  <a href="https://forms.gle/u3F1Ud5PFcUB6fWy9" class="characteristicOfBut" target="_blank"><span class="textSenter">ПРАКТИЧНЕ ЗАВДАННЯ 4</span>


  </a></object>
  </div>

</div>
</div>
</mat-card>
</div>
