<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<mat-card>
<div class="container">
<div class="row">

  <div class="col-8"><h1>ЛЕКЦІЯ 1.Сутність економіко-математичного моделювання</h1>
                     <br>

                     <p class="indeNtion"><b>Економіко-математична модель</b> – це вираз, що складається із сукупності пов'язаних між собою математичними залежностями (формули, рівняння) величин-факторів, всі або частина яких мають математичний сенс.</p>




</div>
  <div class="col-4">
  <div class="buttPresentation">
  <object>
  <p>
      <a href="assets/pdf/p_1.pdf" class="characteristicOfButPres" target="_blank"><mat-icon>save_alt</mat-icon><span class="sFont">Переглянути</span>
<pre>
     <span class="positPresLetters">ПРЕЗЕНТАЦІЮ</span></pre></a></p>


  </object>
  </div>
  <div class="buttLookLec">
  <object>
  <p>
  <a href="assets/pdf/l_1.pdf" class="characteristicOfBut" target="_blank"><mat-icon>save_alt</mat-icon><span class="sFont">Переглянути в PDF та</span>
<pre>
  <span class="sColor">ЗАВАНТАЖИТИ</span></pre></a></p>
  </object>
  </div>
  </div>

                     </div>
<div class="row">
<div class="col-12">
<p>Однією з найбільш важливих ознак економіко-математичних моделей є зв'язок з фактором часу. Моделі, в яких вхідні фактори та результат прямо залежать від часу, називають <b>динамічними</b>. Моделі, в яких залежність від часу є зовсім відсутньою або виявляє себе дуже слабо, називаються <b>статичними</b>.</p>

<p>Економіко-математичні моделі дозволяють виявити особливості функціонування економічних об'єктів або явищ і на базі цьогопередбачити майбутню поведінку об'єкта при зміні будь-яких параметрів.

                        У моделях всі зв'язки між змінними можуть бути описані кількісно, що дозволяє отримати більш якісний та надійний прогноз. Можливості прогнозування полягають в тому, що можна отримати набагато кращі результати та позбутися зайвих витрат. Неповнота економічних моделей випливає з їх абстрактності.</p>
                     <p class="indeNtion">Звичайна економіко-математична модель складається з цільової функції:</p>
                     <div class="imgCenter">
                     <img  src="assets/img/1.png">
                     </div>
                     <br>
                     <span>від шуканих величин</span>
                     <img  src="assets/img/3.png">
                     <span>та обмежень на область використання цих величин:</span>
                     <div class="imgCenter">
                     <img src="assets/img/2.png">
                     </div>
                     <span>Цільова функція</span><img  src="assets/img/4.png"><span>виражає значення критерію оптимальності, який зумовлений значеннями шуканих величин</span>
                     <img  src="assets/img/5.png"><span> – технікоекономічні умови досліджуваного процесу.</span>
                     <span>Наприклад,</span><img src="assets/img/6.png"><span>прибуток підприємства в залежності від обсягу вироб­леної продукції першого виду –</span>
                     <img  src="assets/img/7.png"><span>другого виду –</span><img src="assets/img/8.png">
                     <span>Тоді обмеженнями на таку функцію будуть</span><img src="assets/img/9.png">
                     <span>– обсяги споживаних ресурсів</span><img src="assets/img/10.png">
                     <span>обсяги виділених ресурсів</span><img src="assets/img/11.png">
                     <span>Оскільки підприємству необхідно розробити план виробництва продукції, який забезпечує <b>максимізацію прибутку</b> при використанні лише виділених ресурсів –</span>
                     <img src="assets/img/12.png"><span>то економіко-математична модель такої задачі полягає у пошуку таких </span>
                     <img src="assets/img/13.png"><span>Складається математична задача, для розв’язку якої застосовуються математичні методи.</span>
                     <p class="indeNtion">Якщо в задачі про пошук оптимального плану виробництва продукції підприємство використовує критерій оптимальності <b>мінімум витрат</b> за умов виконання плану, то цільова функція</p>
                     <img src="assets/img/14.png"><span>буде виражати витрати, а обмеження</span>
                     <img src="assets/img/15.png"><span>умови виконання плану виробництва продукції за видами</span>
                     <img src="assets/img/16.png">
                     <br>
                     <span>Тоді математична модель має вигляд:</span>
                     <div class="imgCenter">
                     <img src="assets/img/17.png">
                     </div>
                     <p class="indeNtion">Моделі знаходиться у певній відповідності до досліджуваних об'єктів.

                                          Процес побудови та вивчення моделі називається <b>моделюванням</b>. Моделі дозволяють отримати спрощене уявлення про систему і отримати деякі результати набагато простіше, ніж при вивченні реального об'єкту.</p>

                     <p class="indeNtion">Серед економіко-математичних моделей виділяють такі типи:
                     <br>

                                          <b>1) імовірнісно-статистичні моделі.</b> Моделі вартості та розширеного відтворення є імовірнісно-статистичними, тому дослідження їх здійснюється за допомогою методів економічної та математичної статистики з використанням апарату теорії імовірностей. Наперед усе тут використовується вибірковий (репрезентативний метод), який дозволяє за обмеженими статистичними даними визначити окремі економічні показники, а також оцінити ступінь точності отриманих результатів. Найбільш важливими в економетричній статистиці є методи <b>кореляційно-регресійного аналізу.</b>
                     <p class="indeNtion">Одним з напрямків кореляційно-регресійного аналізу в економічних дослідженнях є моделювання залежності між обсягом виробленої продукції, собівартістю одиниці продукції, капітальними витратами, продуктивністю праці та використанням основних виробничих фондів. Ці ж методи використовують при дослідженні залежності попиту від ціни, пропозиції від ціни та майбутніх впливів пропозиції на ціну, тобто аналізується завершений цикл послідовних впливів одного фактора на інший.</p>
                     <p class="indeNtion">Методами математичної статистики досліджується кореляція між окремими елементами в суспільному виробництві.</p>
                     <p class="indeNtion">Окремим підприємствам побудовані математичні криві слугують не тільки для вивчення товарного ринку. Їх використовують для встановлення та аналізу функціональної залежності між величиною випуску продукції та витратами виробництва у формі виробничих функцій, параметри яких отримують також в результаті обробки емпіричних даних методами кореляційного аналізу.</p>
                     <p class="indeNtion"><b>Статистичне моделювання</b> (метод Монте-Карло) використовується в тих випадках, коли за умов складних взаємозв'язків факторів аналітичні методи є безсилими. Застосування методу статистичних випробувань безпосередньо пов'язано з ПК. Сутність статистичного моделювання полягає у чисельному відтворенні (імітації) випадкових процесів за заздалегідь відомими параметрами, а також у визначенні невідомих параметрів моделі.</p>
                     <p class="indeNtion">Цей метод успішно використовується для розв'язання питань підвищення ефективності використання обладнання та полегшення пошуку раціональної організації складних виробничих та технологічних процесів. Універсальність моделей, простота алгоритмів, які їх реалізують, а також наявність персонального комп'ютера роблять статистичне моделювання незамінним апаратом в економічних дослідженнях.</p>

                                          <b>2) матричні моделі.</b> В цьому класі моделей отримує строгий математичний опис один з важливіших методів планування – балансовий метод. Ці моделі призначені для аналізу та планування виробництва і розподілу продукції на різних рівнях ієрархії (від окремого підприємства до цілого народного господарства). Назву <b>матричні</b> ці моделі отримали завдяки тому, що для їх реалізації використовується математичний апарат матричної алгебри. До простіших матричних моделей належать моделі, що описують поведінку економічної системи у вигляді однопродуктивних схем виробництва продукції та її розподілу. В цих моделях використовують деякий однорідний продукт як предмет праці і предмет споживання.
                     <p class="indeNtion"><b>Загальність матричних моделей</b> різних рівнів ієрархії полягає у тому, що їх можна розглядати за змістом і структурою на прикладі одної з них.</p>
                     <p class="indeNtion">В залежності від того, чи береться до уваги при складанні моделей фактор часу, вони можуть бути відповідно <b>статичними</b> або <b>динамічними</b>.</p>
                     <p class="indeNtion"><b>Матричні статичні моделі</b> розробляються для окремо взятих періодів. Зв'язок між попередніми або наступними періодами в рамках цих моделей не досліджується.</p>
                     <p class="indeNtion"><b>Динамічні матричні моделі</b> відображають не стан, а процес розвитку економіки, встановлюють безпосередній зв'язок між минулими і майбутніми періодами розвитку.</p>
                     <p class="indeNtion">Важливість матричних моделей в тому, що вони дозволяють формалізувати розрахунки та реалізувати ці моделі на ПК, а також забезпечують організацію інформації в найбільш економній формі.</p>

                                          <b>3) моделі оптимального планування</b>. Вони відрізняються тим, що, на відміну від балансових методів, враховують декілька способів виробництва (споживання). Крім того, змінні (вхідні та вихідні) задаються не іззовні моделі, а визначаються за умов оптимальності цільової функції. При цьому моделі оптимального планування дозволяють розв'язувати задачі не лише міжгалузевих балансів, але й також розміщення виробничих сил, спеціалізації та кооперування підприємств.
                     <p class="indeNtion">До <b>моделей оптимального планування</b> належать:
                     <ul>
                     <li>планування на підприємствах та будівництві;</li>
                     <li>планування постачання та перевезення;</li>
                     <li>управління запасами;</li>
                     <li>сумішно-розкрійні задачі.</li>


                     </ul>


<p class="indeNtion"><b>Планування на підприємствах та будівництві.</b> До цих моделей належать задачі оптимізації виробничої програми підприємства і її розподіл за календарними періодами, оптимальне завантаження виробничих агрегатів та машин, розрахунок виробничих потужностей підприємства, складання оптимальних графіків запуску виробництва, випуску виробів та ін.</p>
<p class="indeNtion"><b>Планування постачання та перевезення.</b> Основна мета цього напрямку мінімізація транспортних витрат при перевезенні різних вантажів від постачальників до споживачів. При цьому можуть використовуватися різні обмеження: пропускна здатність окремих ланцюгів транспортної мережі, взаємозамінність деяких видів вантажу, першочерговість перевезення найбільш важливих вантажів і т.д. Сюди ж відносять і задачу комівояжера та перевезення дрібних партій вантажу.</p>
<p class="indeNtion"><b>Управління запасами.</b> Методи оптимального планування застосовують при розв'язанні різних проблем постачання та збуту, раціонального розміщення оптових та роздрібних баз, а також планування роботи товарної мережі, оптимальному керуванні запасами.</p>
<p class="indeNtion"><b>Сумішно-розкрійні задачі.</b> До цієї категорії належать задачі оптимального складу сумішей та сполук. Ці задачі зустрічаються на підприємствах, де продукція отримується в результаті змішування, сплаву або сполучення деяких видів компонентів сировини чи матеріалів. Методи оптимального планування дозволяють знайти набір компонентів суміші, при якому продукція даного складу та якості буде отримана при мінімальних витратах. В задачі щодо оптимального розкрою матеріалів критерієм оптимальності є мінімальні сумарні витрати (відходи) матеріалів після розрізання їх на заготівки необхідної величини та форми.</p>
<p class="indeNtion">Всі перелічені моделі досліджуються засобами <b>лінійного програмування</b>.</p>
<p class="indeNtion">Типовими прикладами економічних задач управління запасами є задачі виробництва та збереження продукції, розподілу капіталовкладень, календарного виробничого планування, складання графіків запуску деталей у виробництво, визначення найкоротшої відстані між пунктами на транспортній мережі. Розв'язання таких задач досягається засобами <b>динамічного програмування</b>. </p>
</div>
</div>
</div>

</mat-card>
</div>
