<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<div class="container">
<div class="row">
<div class="col-md-12">
<mat-card>
<object>
<p>
    <a href="assets/pdf/l_3.pdf" class="characteristicOfBut" target="_blank"><mat-icon>save_alt</mat-icon><span class="sFont">Переглянути в PDF та</span>
   <pre>
   <span class="sColor">ЗАВАНТАЖИТИ</span></pre></a></p>


</object>
<div>
<h1>ЛЕКЦІЯ 4.Моделі без урахування витрат на виконання замовлення</h1>
<br>

<p class="indeNtion">Припустимо, в динамічної моделі управління запасами, розглянутої раніше, не враховуються фіксовані витрати замовлення, а вартість одиниці товару в періоді t постійна і становить</p>
<img src="assets/img/140.png"><span>Тоді (3.1) - (3.3) - задача лінійного програмування, яку можна інтерпретувати як задачу про потік мінімальної вартості в мережі з T вершинами, відповідними моментів часу і вершиною - стоком:</span>
<div class="imgCenter">
<img src="assets/img/141.png">
</div>
<p class="indeNtion">Як і раніше, можемо покласти, що </p><img src="assets/img/142.png">
<span>На рис. 3.1 зображена мережу для T= 4.</span>
<div class="imgCenter">
<img src="assets/img/143.png">
</div>
<div class="TextCenter">
<span>Рис. 3.1. Модель без витрат на оформлення замовлення</span>
</div>
<p class="indeNtion">Розглянемо деякі узагальнення цієї моделі.</p>
<div class="TextCenter">
<span><b>Завдання про склад</b></span>
</div>
<p class="indeNtion">Нехай, на відміну від вихідної моделі, склад має обмежену місткість v. У кожен з T послідовних періодів часу товар закуповується за цінами </p>
<img src="assets/img/144.png"><span>за одиницю, зберігається на складі з питомими витратами</span>
<img src="assets/img/145.png"><span>і продається за цінами </span><img src="assets/img/146.png">
<span>Обсяги споживання не фіксовані, тобто єдине обмеження на покупку і продаж в кожному періоді виражається у місткості складу. Потрібно максимізувати прибуток.</span>
<p class="indeNtion">Для періоду t через </p><img src="assets/img/147.png">
<p class="indeNtion">
<p class="indeNtion">






</div>
</mat-card>
</div>
</div>
</div>
</div>
