
<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">

    <mat-card>
      <mat-card-title>Відправити виконану роботу викладачеві</mat-card-title>
      <mat-card-content>
        <form (submit)="onCreate(createform)" #createform="ngForm" >
          <mat-form-field>
            <input matInput
                   type="text"
                   name="fullName"
                   ngModel
                   required
                   #brandInput="ngModel"
                   placeholder="Будь-ласка вкажіть ваші ФІО">
            <mat-error *ngIf="brandInput.invalid">Вкажіть ФІО</mat-error>
          </mat-form-field>



          <input #fileinput style="display: none" type="file" name="file" (change)="onFileSelected($event)">
          <button matInput class="btn btn-outline-success" type="button" (click)="fileinput.click()">
            Оберіть файл
          </button>
          <br><br>

          <button mat-raised-button color="primary" type="submit">Відправити</button>

        </form>
      </mat-card-content>
    </mat-card>
</div>






