<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<div class="container">
<div class="row">
<div class="col-md-12">
<mat-card>
<h3>Як зрозуміти таблицю:</h3>
<p>1. В колонці "Позначка часу" вказано дату надсилання роботи на перевірку</p>
<p>2. В колонці "Результат" зазначено скільки набрав студент балів із всих можливих балів</p>
<p>3. В колонці "ФІО" вказано ФІО студента.</p>

<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTWrv2A1oVVZNvp4XmftpN50UeBMZXy2Y3NDKwXdMXe61lkr3SGTKdBGzeQYsB02UGRaBUtxvhozHW3/pubhtml?gid=1614940743&amp;single=true&amp;widget=true&amp;headers=false"></iframe>


</mat-card>
</div>
</div>
</div>
</div>
