<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<div class="container">
<div class="row">
<div class="col-md-12">
<mat-card>
<div>
<h1>Зміст курсу</h1>
<br>
<ul>
<li><b>МОДУЛЬ 1:</b></li><br>
<li><a routerLink="/lecture-first" ><b>ЛЕКЦІЯ 1.</b>Сутність економіко-математичного моделювання</a></li>
<li><a routerLink="/" ><b>ЛЕКЦІЯ 2.</b>Основні поняття теорії та методів оптимізації</a></li>
<li><a routerLink="/" ><b>ЛЕКЦІЯ 3.</b>Лінійні оптимізаційні економіко-математичні моделі та методи. Лінійне програмування. </a></li><br>
<li><b>МОДУЛЬ 2:</b></li><br>
<li><a routerLink="/lecture-second" ><b>ЛЕКЦІЯ 4.</b>Динамічні оптимізаційнi моделі управління запасами.Модель з урахуванням витрат на виконання замовлення</a></li>
<li><a routerLink="/lecture-third" ><b>ЛЕКЦІЯ 5.</b>Модель з увігнутою функцією витрат</a></li>
<li><a routerLink="/lecture-fourth"><b>ЛЕКЦІЯ 6.</b>Моделі без урахування витрат на виконання замовлення</a></li>
<br>
<!--<li><b>ПРАКТИЧНІ ЗАВДАННЯ:</b></li><br>
<li><a routerLink="/practice-first"><b>ПРАКТИЧНА РОБОТА 1.</b>Ознайомлення з програмою «Пошук рішень»</a> </li>
<li><a routerLink="/practice-second"><b>ПРАКТИЧНА РОБОТА 2.</b>Динамічні моделі</a></li>
<li><a routerLink="/practice-third"><b>ПРАКТИЧНА РОБОТА 3.</b>Моделі управління запасами</a></li>
<li><a routerLink="/practice-fourth"><b>ПРАКТИЧНА РОБОТА 4.</b>Лінійні моделі</a></li>
<br>
<li><b>ПЕРЕВІРКА ЗНАНЬ:</b></li><br>
<li><a routerLink="/tests-lec-f"><b>ТЕСТОВІ ЗАВДАННЯ ДО ЛЕКЦІЇ 1</b></a></li>
<li><a routerLink="/practice-first"><b>ТЕСТОВІ ЗАВДАННЯ ДО ЛЕКЦІЇ 2</b></a></li>
<li><a routerLink="/practice-first"><b>ТЕСТОВІ ЗАВДАННЯ ДО ЛЕКЦІЇ 3</b></a></li>
<li><a routerLink="/practice-first"><b>ТЕСТОВІ ЗАВДАННЯ ДО ЛЕКЦІЇ 4</b></a></li>-->
</ul>
<!--<h2>Лекція 1.Сутність економіко-математичного моделювання</h2>
<button *ngIf="visibility" (click)="toggle()" class="characteristicOfBut">Читати</button>
<button *ngIf="!visibility" (click)="toggle()" class="characteristicOfBut">Сховати</button>


<div [ngClass]="{invisible: visibility}">
<br>
<p class="indeNtion">Економіко-математична модель – це вираз, що складається із сукупності пов'язаних між собою математичними залежностями (формули, рівняння) величин-факторів, всі або частина яких мають математичний сенс.
        Однією з найбільш важливих ознак економіко-математичних моделей є зв'язок з фактором часу. Моделі, в яких вхідні фактори та результат прямо залежать від часу, називають динамічними. Моделі, в яких залежність від часу є зовсім відсутньою або виявляє себе дуже слабо, називаються статичними.
        Економіко-математичні моделі дозволяють виявити особливості функціонування економічних об'єктів або явищ і на базі цього передбачити майбутню поведінку об'єкта при зміні будь-яких параметрів.
        У моделях всі зв'язки між змінними можуть бути описані кількісно, що дозволяє отримати більш якісний та надійний прогноз. Можливості прогнозування полягають в тому, що можна отримати набагато кращі результати та позбутися зайвих витрат. Неповнота економічних моделей випливає з їх абстрактності.
   Звичайна економіко-математична модель складається з цільової функції:
</p>
<div class="imgCenter">
<img src="assets/img/qwe.png">
</div>
<p>від шуканих величин x1, ..., xn та обмежень на область використання цих величин:</p>
<div class="imgCenter">
<img src="assets/img/2019-04-30_1748.png">
</div>
<p class="indeNtion">Цільова функція f(x1, ..., xn) виражає значення критерію оптимальності, який зумовлений значеннями шуканих величин x1, ..., xn, а gk(x1, ..., xn) – техніко-еконо­мічні умови досліджуваного процесу.
                         Наприклад, f (x1,...,xn) – прибуток підприємства в залежності від обсягу вироб­леної продукції першого виду – x1, другого виду – x2, ..., n-го виду – xn. Тоді обмеженнями на таку функцію будуть gk (x1, ..., xn) – обсяги споживаних ресурсів k-го виду, а bk – обсяги виділених ресурсів k-го виду (k = 1,...,m). Оскільки підприємству необхідно розробити план виробництва продукції, який забезпечує максимізацію прибутку при використанні лише виділених ресурсів – bk, то економіко-математична модель такої задачі полягає у пошуку таких x1,..., xn >0, за яких: f (x1, ..., xn) ® max. Складається математична задача, для розв’язку якої застосовуються математичні методи.
                         Якщо в задачі про пошук оптимального плану виробництва продукції підприємство використовує критерій оптимальності мінімум витрат за умов виконання плану, то цільова функція f (x1,...,xn) буде виражати витрати, а обмеження gi (x1, ..., xn) ³ bi умови виконання плану виробництва продукції за видами (i = 1, 2, ..., n).
                         Тоді математична модель має вигляд:
</p>
</div>

<br><br>

<div>
<h3>Лекція 2.</h3>
<button *ngIf="visibility1" (click)="toggle1()" class="characteristicOfBut">Читати</button>
<button *ngIf="!visibility1" (click)="toggle1()" class="characteristicOfBut">Сховати</button>

<div [ngClass]="{invisible1: visibility1}">
<br>
<p>Текст лекції 2</p>
</div>

</div>-->
</div>
</mat-card>
</div>
</div>
</div>
</div>

