
.invisible {
  display: none;
}

.invisible1 {
  display: none;
}

.indeNtion {
  text-indent: 20px; /* Отступ первой строки в пикселах */
}

.imgCenter {
  text-align:center;
}

mat-card {
  max-width: 80%;
  margin: auto auto auto auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.characteristicOfBut {
  position: relative;
  display: inline-block;
  color: darkblue;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
  user-select: none;
  width: 200px;
  height: 40px;
  outline: none;
  border-radius: 3px / 100%;
  background-image:
    linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
    linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
    linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
    linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
    linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
    linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}
.characteristicOfBut:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
.characteristicOfBut:active {
  top: 1px;
}

h1 {
  text-align: center;
}

li {
  list-style-type: none;
}


ul {
  line-height: 180%;

}

.imgBack {
  background-image: url("../../assets/img/b1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  color: black;
  font-size: 22px;
  line-height: 8px;
}

b {
  color: black;
  font-size: 22px;
  line-height: 8px;
}

li {
  color: black;
  font-size: 22px;

}
