<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<mat-card>
<div class="container">
<div class="row">

  <div class="col-8"><h2>ПРАКТИЧНА РОБОТА 1.Ознайомлення з програмою «Пошук рішень»</h2>


</div>
  <div class="col-4">

  <div class="buttLookLec">
  <object>
  <p>
  <a href="assets/pdf/practice_1.pdf" class="characteristicOfBut" target="_blank"><mat-icon>save_alt</mat-icon><span class="sFont">Переглянути в PDF та</span>
<pre>
  <span class="sColor">ЗАВАНТАЖИТИ</span></pre></a></p>
  </object>
  </div>
  </div>

                     </div>
<div class="row">
<div class="col-12">
<p class="indeNtion">Потужним засобом аналізу даних Excel є надбудова Solver (Пошук рішення). З її допомогою можна визначити, при яких значеннях зазначених впливаючих комірок формула в цільовій комірці приймає потрібне значення (мінімальне, максимальне або рівне будь-якої величини). Для процедури пошуку рішення можна задати обмеження, причому не обов'язково, щоб при цьому використовувалися ті ж комірки. Для розрахунку заданого значення застосовуються різні математичні методи пошуку. Ви можете встановити режим, в якому отримані значення змінних автоматично заносяться в таблицю.</p>
<p class="indeNtion">Крім того, результати роботи програми можуть бути оформлені у вигляді звіту. Програма « Пошук рішень» (в оригіналі Excel Solver) - додаткова надбудова табличного процесора MS Excel, яка призначена для вирішення певних систем рівнянь як лінійних, так і нелінійних задач оптимізації, використовується з 1991 року. Розмір завдання, яке можна вирішити за допомогою базової версії цієї програми, обмежується такими процесними показниками:</p>
<ul>
                     <li>кількість невідомих - 200;</li>
                     <li>кількість формульних обмежень на невідомі - 100;</li>
                     <li>кількість граничних умов на невідомі - 400.</li>

                     </ul>
<p class="indeNtion">Розробник програми Solver компанія Frontline System вже давно спеціалізується на розробці потужних і зручних способів оптимізації, вбудованих в осередок популярних електронних таблиць різноманітних фірм-виробників (MS Excel Solver, Adobe Quattro Pro, Lotus 1-2-3). Висока ефективність їх застосування пояснюється інтеграцією програми оптимізації і табличного бізнес-документа. Завдяки світовій популярності табличного процесора MS Excel вбудована в його середовище програма Solver є найбільш поширеним інструментом для пошуку оптимальних рішень в сфері сучасного бізнесу.</p>
<p class="indeNtion">За замовчуванням в Excel надбудова «Пошук рішення» відключена. Щоб активізувати її в Excel 2010, клацніть закладку «Файл», натисніть кнопку «Параметри» , а потім виберіть категорію «Надстройки». В полі «Управління» виберіть значення «Надбудови Excel» і натисніть кнопку «Перейти». В полі «Доступні надбудови» встановіть прапорець поруч із пунктом «Пошук рішення» і натисніть кнопку «ОК» (рис. 1):</p>
<div class="imgCenter">
                     <img src="assets/img/148.png">
                     </div>
<div class="TextCenter">
<span>Рис.1. Активування надбудови «Пошук рішення» </span>
</div>
<p class="indeNtion"><b>Процедура пошуку рішення:</b></p>
<p class="indeNtion">1.Створіть таблицю за допомогою якої буде визначено оптимальний об’єм випуску продукції з метою максимізації прибутку (рис. 2).</p>
<div class="imgCenter">
                     <img src="assets/img/149.png">
                     </div>
<div class="TextCenter">
<span>Рис.2.Задача оптимального пошуку випуску продукції </span>
</div>
<p class="indeNtion">2.В комірку Е6 введіть формулу : =В7*В6+С7*С6, що обчислює загальний дохід.      </p>
<p class="indeNtion">3.В комірку Е2 пишемо формулу: =СУММПРОИЗВ(B7:C7;B2:C2), яка визначає скільки використано ресурсів на випуск продукції. Потім дублюємо дану формулу в комірки Е3,Е4,Е5 з відповідними значеннями другого масиву формули .</p>
<p class="indeNtion">4. Переходимо до вкладки «Дані» → «Пошук рішень» і заповнюємо необхідні поля:</p>
<ul>
                     <li>В поле «Оптимізувати цільову функцію»: $E$6 ;</li>
                     <li>В полі «До» поставити перемикач на «Максимум»;</li>
                     <li>«Змінюючи комірки змінних» заповнити наступними даними : $B$7:$C$7 ;</li>
                     <li>«У відповідності з обмеженнями» через кнопку «Добавити» ввести дані як показано на рисунку 3,4,5 і натиснути «Добавити». Після проведених маніпуляцій натиснути на кнопку «ОК»:</li>

                     </ul>
<div class="imgCenter">
                     <img src="assets/img/150.png">
                     </div>
<div class="TextCenter">
<span>Рис.3.Додавання  першого обмеження до «Пошуку рішення» </span>
</div>
<div class="imgCenter">
                     <img src="assets/img/151.png">
                     </div>
<div class="TextCenter">
<span>Рис.4.Додавання другого обмеження до «Пошуку рішення» </span>
</div>
<div class="imgCenter">
                     <img src="assets/img/152.png">
                     </div>
<div class="TextCenter">
<span>Рис.5.Додавання третього обмеження до «Пошуку рішення» </span>
</div>
<ul>
                     <li>В діалоговому вікні «Параметри пошуку рішень» натиснути на кнопку «Знайти рішення» (див. рис 6)</li>
                      </ul>
<div class="imgCenter">
                     <img src="assets/img/153.png">
                     </div>
<div class="TextCenter">
<span>Рис.6.Заповнення діалогового вікна «Параметри пошуку рішень» </span>
</div>
<p class="indeNtion">Після успішного і вірного виконання всіх кроків, в Excel з’являється діалогове вікно «Результати пошуку рішень» на котрому слід натиснути на кнопку «ОК»:</p>
<div class="imgCenter">
                     <img src="assets/img/154.png">
                     </div>
<div class="TextCenter">
<span>Рис.7.Повідомлення про успішне виконання  «Пошуку рішень» </span>
</div>
<p class="indeNtion">З отриманих результатів помітно, що загальний дохід складає 168,08 грн, об’єм реалізації товару А складає 56 одиниць, а товару Б – 72 одиниці. Кількість використаних ресурсів : ресурс 1- 56,8од., ресурс 2 – 200од., ресурс 3 – 239,2 од., ресурс 4 – 6,24од:</p>
<div class="imgCenter">
                     <img src="assets/img/155.png">
                     </div>
<div class="TextCenter">
<span>Рис.8.Результати отримані при використанні надбудови «Пошук рішень» </span>
</div>
<br><br>
<app-send-practice-first></app-send-practice-first>

</div>
</div>
</div>

</mat-card>
</div>
