<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<div class="container">
<div class="row">
<div class="col-md-12">
<mat-card>


<ul>
<li><a href="https://docs.google.com/forms/d/1kYmrh-je-hIAI-XLBHR7A1kbQ0x0ipNVadCvALxUC7I/edit?usp=sharing" >ТЕСТОВЕ ЗАВДАННЯ 1."Сутність економіко-математичного моделювання"</a></li>
<li><a href="https://docs.google.com/forms/d/1kYmrh-je-hIAI-XLBHR7A1kbQ0x0ipNVadCvALxUC7I/edit?usp=sharing" >ТЕСТОВЕ ЗАВДАННЯ 2."Динамічні оптимізаційнi моделі управління запасами.Модель з
                                                                                                             урахуванням витрат на виконання замовлення"</a></li>
<li><a href="https://docs.google.com/forms/d/1kYmrh-je-hIAI-XLBHR7A1kbQ0x0ipNVadCvALxUC7I/edit?usp=sharing" >ТЕСТОВЕ ЗАВДАННЯ 3."Модель з увігнутою функцією витрат"</a></li>
<li><a href="https://docs.google.com/forms/d/1kYmrh-je-hIAI-XLBHR7A1kbQ0x0ipNVadCvALxUC7I/edit?usp=sharing" >ТЕСТОВЕ ЗАВДАННЯ 4."Моделі без урахування витрат на виконання замовлення"</a></li>

</ul>

</mat-card>
</div>
</div>
</div>
</div>
