<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<mat-card>
<div class="container">
<div class="row">

  <div class="col-8"><h2>ПРАКТИЧНА РОБОТА 2.Динамічні моделі</h2>


</div>
  <div class="col-4">

  <div class="buttLookLec">
  <object>
  <p>
  <a href="assets/pdf/practice_2.pdf" class="characteristicOfBut" target="_blank"><mat-icon>save_alt</mat-icon><span class="sFont">Переглянути в PDF та</span>
<pre>
  <span class="sColor">ЗАВАНТАЖИТИ</span></pre></a></p>
  </object>
  </div>
  </div>

                     </div>

<div class="row">
<div class="col-12">
  <app-quiz></app-quiz>

  <hr>
  <p class="indeNtion"><b>Приклад. Виробництво-Зберігання</b></p>
  <p class="indeNtion">Загальні дані</p>
  <p class="indeNtion">Одна з істотних рис сучасної економіки на всіх рівнях управління - динамічність, визначає реалізацію потоків різного призначення (матеріальних, людських або фінансових) протягом періоду планування.</p>
  <p class="indeNtion">На виробництві йдеться про визначення планів виробництва з урахуванням витрат на технологічний процес і супровід продукції, зокрема, її зберігання. Динамічний характер економічних процесів вимагає порівняння майбутніх капітальних та інших витрат з потоковими.</p>
  <p class="indeNtion">Втой же час динаміка потребує специфічних фінансових потоків і непрямих економічних зв’язків на рівні балансових розрахунків. Відповідно, динамічний процес повинен бути збалансованим та оптимальним – в цьому і є специфіка ринкових відносин , коли підприємство (фірма, компанія) прагнуть отримати максимальний прибуток чи максимально задовольнити ринковий попит на обсяг , структуру та кількість з урахуванням ресурсних чи тимчасових обмежень або привести до мінімуму витрати, які супроводжують цей процес.</p>
  <p class="indeNtion">Дослідження цієї проблеми визначає необхідність побудови відповідної економіко-математичної моделі, оскільки саме шляхом комп'ютерних технологій моделювання можна своєчасно визначити оптимальний варіант управління відповідними товарними або фінансовими потоками, щоб реалізувати його в бізнес-планах. Зараз мова йде про розробку динамічної моделі оптимізації продуктивних потоків на підприємстві, яка враховує взаємодію показників відповідних тимчасових періодів і повинна стати доступним і звичним інструментом менеджера. Останнє означає, що розроблена модель є зрозумілою аналітичною моделлю, яка вбудована в звичайне робоче середовище. Цим середовищем для економістів і менеджерів є Excel.</p>
  <p class="indeNtion">Динамічні моделі охоплюють кілька часових періодів для більш реалістичного відображення дійсності, оскільки дуже часто менеджеру потрібно приймати рішення, залежне від часу, так як прийняття поточних рішень істотно впливає на наступне рішення.</p>
  <p class="indeNtion">Саме тому залежність прийняття рішень від часу робить динамічне моделювання винятково корисним шляхом аналізу, коли інтуїція людини не може охопити і оцінити наслідки багатьох взаємопов’язаних рішень. «Плата» за кращу наближеність динамічної моделі до реальної ситуації - це необхід-ність обліку деталей, який супроводжує окремі етапи і весь процес прийняття рішень в цілому.</p>
  <p class="indeNtion">Оскільки кожен часовий період має власний критерій ефективності, то потрібно визначити загальну ефективність за весь період планування. Найчастіше загальний критерій є сума критеріїв для окремих періодів, де вагомі коефіцієнти періодів і умови їх функціонування можуть залежати від часу. Важливою характеристикою  динамічних моделей є необхідність синхронізації подій, а також визначення початкових і кінцевих умов.</p>
  <p class="indeNtion">Звичайними динамічними багатоетапними процесами є: конвеєрне виробництво, яке розвивається в просторі і часі; транспортування різних потоків ресурсів (напівфабрикатів, готової продукції, матеріалів, фінансів, робочої сили, сировини і т.д.); тактичне або стратегічне планування, коли розглядається перехід від одного фіксованого періоду до наступного. Тимчасові періоди вимірюються від хвилин до місяців або років в залежності від рівня планування.</p>
  <p class="indeNtion">Далі розглянуто динамічну модель управління потоком продукції «виробництво-зберігання», яка представлена в матричній версії.</p>
  <p class="indeNtion"><b>Постановка задачі:</b></p>
<p class="indeNtion">Процес виробництва однорідної продукції на протязі періоду планування ставить за мету задовольнити попит, який змінюється в часі (скажімо, в залежності від сезону). Загальні витрати складаються з витрат на виробництво і супровід продукції, в тому числі на її зберігання. Можливості підприємства обмежуються максимальною потужністю технологічного обладнання та обсягом складів для зберігання готової продукції. Тому забезпечення попиту в певні критичні періоди можливі й за рахунок імпорту. Продуктивна політика на тривалий період планування визначає періоди, коли попит задовольняється виробленою продукцією на даному підприємстві і використанням запасів готової продукції зі складу або імпортом. Для цього завдання відомі питомі витрати на випуск одиниці продукції, її зберігання і покупку по імпорту. Необхідно визначити оптимальний графік виробництва, вивантаження запасів і отримання імпорту за періодами (чого, скільки і коли), який мінімізує загальні витрати.</p>
<p class="indeNtion">Знайти такий план розподілу продукції, щоб:</p>
<p class="indeNtion">Загальні витрати = План розподілу * Питомі витрати → min при обмеженнях:</p>
<ul>
                     <li>Всього продукції n періоду = Попит n періоду;</li>
                     <li>Випуск <= Потужність;</li>
                     <li>Обсяг продукції на складі <= Обсяг складу;</li>
                     <li>Сума розподілу початкового запасу по періодам <= 15;</li>
                     <li>План> = 0.</li>

</ul>
<p class="indeNtion"><b>Реалізація в Excel</b></p>
<p class="indeNtion">Для побудови динамічної моделі цього типу використаємо матричну модель транспортної задачі, де в ролі постачальників (рядки матриці) виступають тимчасові періоди виробництва, отримання імпорту і вивантаження продукції, а споживачів (стовпці матриці) - тимчасові періоди задоволення попиту (рис. 3.1).</p>
<div class="imgCenter">
                     <img src="assets/img/156.png">
                     </div>
<div class="TextCenter">
<span>Рис. 3.1. Тимчасові періоди задоволення попиту </span>
</div>
<p class="indeNtion">Модель використовує три матриці: питомих витрат (початкові дані); план і витрати на задоволення попиту, три вектори: попиту, потужності і обсягів складу, а також величину початкового запасу.</p>
<p class="indeNtion">1. У таблиці плану потоків продукції в стовпець Випуск введіть формули посилання на осередок перетину однакових періодів (B13; C14; D15; E16; F17).</p>
<p class="indeNtion">2. У осередок G18 введіть формулу:</p>
<p >= СУММ (B18: F18) -G9.</p>
<p class="indeNtion">3. Стовпець На склад заповніть формулами:</p>
<p >= Сума по рядках матриці потоків-Випуск.</p>
<p class="indeNtion">4. У рядок  Всього введіть формули суми по стовпцям матриці потоків.</p>
<p class="indeNtion">5. У таблиці Потік витрат в матрицю витрат введіть формули:</p>
<p>= Питомі витрати * Потік.</p>
<p class="indeNtion">6. У стовпець Всього введіть формули суми по рядкам матриці витрат.</p>
<p class="indeNtion">7. Рядок Всього заповніть формулами суми по стовпцях матриці витрат.</p>
<p class="indeNtion">8. У цільову комірку Загальні витрати введіть формулу суми рядків або стовпчиків Всього.</p>
<p class="indeNtion">Запустіть програму Пошук рішень командою Данні / Аналіз / Пошук рішення (в Excel 2010) Сервіс / Пошук рішення (в Excel 2010 і нижче). У полях Встановити цільових перевірок в осередок, Змінюючи осередки, Обмеження введіть відповідні адреси комірок. Так як це лінійна модель, то не забудьте зафіксувати в вікні Параметри пошуку рішень перемикач на позицію Лінійна модель і Невід’ємне значення (рис. 3.2).</p>
<div class="imgCenter">
                     <img src="assets/img/158.png">
                     </div>
<div class="TextCenter">
<span>Мал. 3.2. Параметри пошуку рішень </span>
</div>
<p class="indeNtion">Натисніть кнопку Виконати і у вікні Результати пошуку рішення виведіть Звіт по стійкості.
                     Виконавши всі дії отримаємо дані ,що містяться на рис.3.4:</p>
<div class="imgCenter">
                     <img src="assets/img/157.png">
                     </div>
<div class="TextCenter">
<span>Рис.3.4. Звіт по стійкості </span>
</div>
<p class="indeNtion"><b>Аналіз результату:</b></p>
<p class="indeNtion">Матриця потоків вказує обсяги виробництва (по діагоналі) по місяцях (20, 30, 34, 10, 0), які відразу ж споживаються; обсяги, які замовники отримують зі складу, наприклад, січневий випуск продукції, розподіляють наступним чином: січень (20), лютий (6) і квітень (14); обсяги за рахунок імпорту, наприклад, січневе засовлення, розподіляються наступним чином: випуск в січні (20) + імпорт квітня (13) + імпорт травня (20) + імпорт лютого(5) = 58. Загальні витрати становлять 3606,7 і розподілені за періодами випуску і споживання. Результат - в травні продукцію дешевше не випускати, а отримувати по імпорту.</p>
<p class="indeNtion">Нормовані вартості «нульових» невідомих вказують на збільшення загальних витрат при примусовому визначенні відповідного потоку. Тіньові ціни обмежень вказують на зміну загальних витрат при збільшенні правої частині обмежень на 1 од. Наприклад, збільшення початкового запасу на 1 од. зменшить цільову комірку на 28,5 од.</p>
<h4>Переглянути хід роботи ви можете на відео:</h4>
<div class="videoPractice">
<mat-video src="assets/video/v_1.mp4"></mat-video>
</div>
<br>
  <h3><ins>Завдання для самостійного виконання(модель при відсутності витрат на оформлення замовлення)</ins></h3>
  <p>Компанія виробляє спеціальні витяжки, які використовуються в домашніх камніх період з грудня по березень. На початку опалювального сезону попит на цю
  продукцію низький, в середині сезону він досягає свого піку і зменшується до кінця
  сезону. З огляду на популярність продукції, компанія може використовувати понаднормові роботи
  для задоволення попиту на продукцію. Наступна таблиця містить дані про виробничі
    потужності компанії і обсягаг попиту на протязі чотирьох місяців.</p>
  <br>
  <div class="imgCenter" id="inLine">
    <img src="assets/img/167.png">
  </div>

  <div class="imgCenter">
    <img src="assets/img/168.png">
  </div>
  <div class="TextCenter">
    <span>Рис.3.5. Можливості виробництва </span>
  </div>
  <h3><ins>Виконавши практичне завдання , необхідно перейти по посіланню нижче та відправити на перевірку викладачеві файл з виконаною роботою: </ins></h3>
</div>
<br>
<div class="buttLookLec">
  <object>
  <p>
  <a href="https://forms.gle/qV3eLzsk72pbAqxx7" class="characteristicOfBut" target="_blank"><span class="textSenter">ПРАКТИЧНЕ ЗАВДАННЯ 2</span>


  </a></object>
  </div>

</div>
</div>
</mat-card>
</div>
