<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<div class="container">
<div class="row">
<div class="col-md-12">
<mat-card>
<div>
<h1>Оберіть практичну роботу та приступіть до виконання</h1>
<ul>
<li><a routerLink="/practice-first" ><b>ПРАКТИЧНА РОБОТА 1.</b>Ознайомлення з програмою «Пошук рішень»"</a></li>
<li><a routerLink="/practice-second" ><b>ПРАКТИЧНА РОБОТА 2.</b>Динамічні моделі</a></li>
<li><a routerLink="/practice-third" ><b>ПРАКТИЧНА РОБОТА 3.</b>Моделі управління запасами</a></li>
<li><a routerLink="/practice-fourth" ><b>ПРАКТИЧНА РОБОТА 4.</b>Лінійні моделі</a></li>

</ul>

</div>
</mat-card>
</div>
</div>
</div>
</div>
