<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<mat-card>
      <h1>Ласкаво просимо на нашому Web-ресурсі!</h1>
      <br>
      <img  class="gifImg" alt="gif зображення" src="https://i.gifer.com/OSFi.gif">
      <p>Одні говорять,що мудрість приходить з віком, інші вважають, що вона приходить від навчання.На сьогоднійшній день за вдяки інтернету,
        наука відкрита для кожного і наша навчальна система не стала вийнятком.
        <br>
        <br>
        Сторінки курсу направлені надати максимально вичерпну інформацію
        по темі "Економіко-математичні моделі та ефективні алгоритми їх розв’язання", завдяки використанню курсу лекцій, практичних завданнь, тестів та навчальної ігрової вікторини.
        <br><br>Пропонуємо Вам приєднатися до безльочи молодих людей , які скористалися нашим онлайн-ресурсом та здобули нові навики та знання.
        Все це може допомогти створювати проекти і розвивати їх таким чином, щоб принести зміни у суспільство.</p>
      <p class="myFont"> Бажаємо енергії та наснаги на шляху до нових знань! </p>
</mat-card>


</div>

