<div style="height: calc(100vh - 50px); overflow: hidden" class="imgBack">


    <div class="container">
    <div class="row">
    <div class="col-md-12">

    <mat-card>
    <div>
    <h1>Оберіть необхідну дію:</h1>
    <br>
    <ul>
    <li><a routerLink="/admin-users" >1. Переглянути користувачів системи</a></li>
    <li><a routerLink="/adm-practice" >2. Переглянути та оцінити практичні роботи</a></li>
    <li><a routerLink="/adm-p-f" >3. Переглянути та oцінити тестові завдання</a></li>

    </ul>
  </div>
  </mat-card>
  </div>
  </div>
  </div>
</div>
