<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<div class="container">
<div class="row">
<div class="col-md-12">
<mat-card>
<div>

<h3>Дізнатися оцінку з:</h3>
<ul>
<li><a routerLink="/student-rating-practice" >ПРАКТИЧНОЇ РОБОТИ 1. Ознайомлення з програмою «Пошук рішень»"</a></li>
<li><a routerLink="/student-rating-practice-second" >ПРАКТИЧНОЇ РОБОТИ 2.Динамічні моделі</a></li>
<li><a routerLink="/student-rating-practice-third" >ПРАКТИЧНОЇ РОБОТИ 3.Моделі управління запасами</a></li>
<li><a routerLink="/student-rating-practice-fourth" >ПРАКТИЧНОЇ РОБОТИ 4.Лінійні моделі</a></li>

</ul>
<br>
<ul>
<li><a routerLink="/rating-test-first" >ТЕСТОВОГО ЗАВДАННЯ 1. До лекції "Сутність економіко-математичного моделювання"</a></li>
<li><a routerLink="/tests-lec-s" >ТЕСТОВОГО ЗАВДАННЯ 2. До лекції "Динамічні оптимізаційнi моделі управління запасами.Модель з урахуванням витрат на виконання замовлення"</a></li>
<li><a routerLink="/tests-lec-th" >ТЕСТОВОГО ЗАВДАННЯ 3. До лекції "Модель з увігнутою функцією витрат"</a></li>
<li><a routerLink="/tests-lec-fourth" >ТЕСТОВОГО ЗАВДАННЯ 4. До лекції "Моделі без урахування витрат на виконання замовлення"</a></li>


</ul>

</div>
</mat-card>
</div>
</div>
</div>
</div>
