<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<mat-card>
<div class="container">
<div class="row">

  <div class="col-8"><h2>ПРАКТИЧНА РОБОТА 3.Моделі управління запасами</h2>


</div>
  <div class="col-4">

  <div class="buttLookLec">
  <object>
  <p>
  <a href="assets/pdf/practice_3.pdf" class="characteristicOfBut" target="_blank"><mat-icon>save_alt</mat-icon><span class="sFont">Переглянути в PDF та</span>
<pre>
  <span class="sColor">ЗАВАНТАЖИТИ</span></pre></a></p>
  </object>
  </div>
  </div>

                     </div>
<div class="row">
<div class="col-12">


<p class="indeNtion"><b>Приклад. Управління запасами</b></p>
<p class="indeNtion">Постановка задачі:</p>
<p class="indeNtion">За статистикою середні витрати на утримання запасів становлять майже третину вартості цих запасів. Це дуже багато і це показник зростає з ускладненням сучасного виробництва, де номенклатура всього, що використовується, вимірюється десятками і сотнями тисяч найменувань, і тому дуже високий ризик збою або зупинки виробництва через відсутність хоча б однієї складової. Запаси на виробництво - це предмети, які стануть частиною продукції або носять вкладення у виробництво: сировину, готову продукцію, комплектуючі, допоміжні матеріали і т.д.</p>
<p class="indeNtion">Запас в сфері послуг (магазини, салони, пошта, банки, ресторани, служби прокату і т.д.) - це товари на продаж, запасні частини, гроші, їжа, транспортні засоби, атракціони. Якщо запасів багато, це одночасно добре (надійно забезпечується попит) і погано (великі витрати на зберігання) - тому повинна бути «золота середина» у вигляді оптимального запасу.</p>
<p class="indeNtion">Оптимально управляти запасом - значить визначити такі моменти і обсяги поставки для поповнення запасів, щоб мінімізувати загальні витрати на створення і отримання запасів відповідно з їх використанням (попитом). Припущення: фіксований розмір замовлення; стабільний попит; миттєве поповнення запасу; відсутність дефіциту на готову продукцію. Вперше цю модель визначив Р. Вільсон (R. H. Wilson) в 1927 році. Вона носить назву «формула Вільсона»:</p>
<div class="imgCenter">
                     <img src="assets/img/159.png">
                     </div>
<p class="indeNtion">В англомовній літературі оптимальним запасом називається економічний розмір замовлення (ЕРЗ). У нашому випадку потрібно визначити оптимальний розмір замовлення чотирьох товарів, для кожного з них відомі ціна покупки, попит, витрати на оформлення та зберігання одиниці продукції, а також обмеження на розмір складу і суму фінансування покупки.</p>
<p class="indeNtion">Знайти оптимальний план замовлення, щоб:</p>
<p>Загальні витрати = Витрати на оформлення + Витрати на зберігання → min при обмеженнях:</p>
<ul>
                     <li>Зайнята площа на складі <= Площа складу;</li>
                     <li>Фінансування покупки <= Бюджет;</li>
                     <li>План> = 0.</li>


</ul>

<p class="indeNtion"><b>Реалізація в Excel:</b></p>
<p class="indeNtion">Створіть таблицю з формулами, які пов'язують план, обмеження і цільову функцію (ОЗ) (рис. 4.1):</p>
<p class="indeNtion">1. У стовпець ЕРЗ (економічний розмір замовлення) введіть формули Вільсона.</p>
<p class="indeNtion">2. У стовпець Вартість введіть формули:</p>
<p>= Розмір замовлення * Ціна.</p>
<div class="imgCenter">
                     <img src="assets/img/160.png">
                     </div>
<div class="TextCenter">
<span>Рис. 4.1. Таблиця з формулами, що пов'язує план, обмеження і цільову функцію </span>
</div>

<p class="indeNtion">3. У стовпець Витрати на зберігання введіть формули:</p>
<p>= (Розмір замовлення * Витрати на зберігання) / 2.</p>
<p class="indeNtion">4. У стовпець Витрати на оформлення введіть формули:</p>
<p>= (Витрати на оформлення * Попит) / Розмір замовлення.</p>
<p class="indeNtion">Зауваження. Щоб не вийшло ділення на нуль, в осередку стовпця Розмір замовлення введіть одиницю.</p>
<p class="indeNtion">5. У стовпець Загальні витрати введіть формули суми стовпців Витрати на зберігання та оформлення.</p>
<p class="indeNtion">6. Стовпець Зайнята площа заповніть формулами:</p>
<p>= (Розмір замовлення * Розмір товару) / 2.</p>
<p class="indeNtion">7. У рядок Всього введіть формули суми за відповідними стовпцями.</p>
<p class="indeNtion">Запустіть програму Пошук рішень командою Дан-ні / Аналіз / Пошук рішення (в Excel 2010) . У полях Встановити цільову осередок, Змінюючи осередки, Обмеження введіть відповідні адреси осередків. Не забутьте зафіксувати в вікні Параметри пошуку рішень перемикач на позицію позитивне значення (рис. 4.2).</p>
<div class="imgCenter">
                     <img src="assets/img/161.png">
                     </div>
<div class="TextCenter">
<span>Рис. 4.2. Параметри пошуку рішень</span>
</div>

<p class="indeNtion">Натисніть кнопку Виконати і у вікні Результати пошуку рішення виведіть Звіт по стійкості (рис. 4.3).</p>
<div class="imgCenter">
                     <img src="assets/img/162.png">
                     </div>
<div class="TextCenter">
<span>Рис.4.3. Звіт по стійкості</span>
</div>
<p class="indeNtion"><b>Аналіз результату</b></p>
<p class="indeNtion">Розміри отриманих замовлень менше оптимальних (ЕРЗ), оскільки вони обмежені бюджетом фінансування покупки товарів. Множник Лагранжа вказує на можливість зменшення загальних витрат при збільшенні бюджету.</p>
<br>
<h4>Переглянути хід роботи ви можете на відео:</h4>
<div class="videoPractice">
<mat-video src="assets/video/v_2.mp4"></mat-video>
</div>
<br>
<h4>Виконавши практичне завдання , необхідно перейти по посіланню нижче та відправити на перевірку викладачеві файл з виконаною роботою: </h4>
</div>
<br>
<div class="buttLookLec">
  <object>
  <p>
  <a href="https://forms.gle/wzmbYpCQtMyHdF6h6" class="characteristicOfBut" target="_blank"><span class="textSenter">ПРАКТИЧНЕ ЗАВДАННЯ 3</span>


  </a></object>
  </div>

</div>
</div>
</mat-card>
</div>
