<div style="height: calc(100vh - 50px); overflow: auto" class="imgBack">
<div class="container">
<div class="row">
<div class="col-md-12">
<mat-card>


<ul>
<li><a routerLink="/check-practice1" ><b>ПРАКТИЧНА РОБОТА 1.</b>Ознайомлення з програмою «Пошук рішень»"</a></li>
<li><a href="https://docs.google.com/forms/d/1Fp0deElwM3Ujgk-YOgvKJdMJC4eNmYBQthGnNnUTFUE/edit?usp=sharing" ><b>ПРАКТИЧНА РОБОТА 2.</b>Динамічні моделі</a></li>
<li><a href="https://docs.google.com/forms/d/1Z5eKOOdnWlfcqrAZUgEOD0edFz3uRXl6IJ5RrNGEoOg/edit?usp=sharing" ><b>ПРАКТИЧНА РОБОТА 3.</b>Моделі управління запасами</a></li>
<li><a href="https://docs.google.com/forms/d/19LrxsjkEPvX-2Xu9dYyoQLdUl226IBkbAdPaAuvCpXQ/edit?usp=sharing" ><b>ПРАКТИЧНА РОБОТА 4.</b>Лінійні моделі</a></li>

</ul>

</mat-card>
</div>
</div>
</div>
</div>
