mat-card {
  max-width: 50%;
  margin: 50px auto auto auto;
}

mat-form-field {
  width:100%;
}

div {
  background-image: url("../../assets/img/b1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

